.about {
  padding: 100px 20px;
  text-align: center;
}

.about h2 {
  font-size: 32px;
  color: #c084fc;
  margin-bottom: 20px;
}

.about p {
  max-width: 650px;
  margin: auto;
  color: #e9d5ff;
  line-height: 1.8;
}